<!-- src/app/ejercicios-sin-equipo/ejercicios-sin-equipo.page.html -->

<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Ejercicios Sin Equipo</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content>
  <div *ngFor="let exercise of EjerciciosSinEquipo | keyvalue">
    <ion-card (click)="goToExerciseDetail(exercise.key, 'none')">
      <ion-card-header>
        <ion-card-title>{{ exercise.value.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ exercise.value.description }}</p>
      </ion-card-content>
    </ion-card>
  </div>

  
</ion-content>
