<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-card>
    <ion-card-content>
      <ion-card-header>
        <ion-card-title>Bienvenido a NutriFit!!!</ion-card-title> 
      </ion-card-header>
    En está aplicacion tienes la opcion de contactar con un profesional del area de nutrición para así poder redactar tu dieta a seguir para conseguir tu cuerpo deseado!!!!
    </ion-card-content>
  </ion-card>

</ion-content>
