<ion-header>
  <ion-toolbar>
    <ion-title>Ejercicios sin Equipamiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="exercise-category">
    <h2>Calentamiento</h2>
    <p>Saltos de tijera</p>
    <p>Movimientos articulares</p>
  </div>

  <div class="exercise-category">
    <h2>Ejercicios de fuerza corporal</h2>
    <p>Flexiones de brazos</p>
    <p>Sentadillas</p>
    <p>Zancadas</p>
    <p>Planchas</p>
    <p>Puentes</p>
  </div>

  <div class="exercise-category">
    <h2>Ejercicios de abdomen</h2>
    <p>Crunches</p>
    <p>Elevación de piernas</p>
    <p>Planchas con giro</p>
  </div>

  <div class="exercise-category">
    <h2>Ejercicios de movilidad</h2>
    <p>Rotaciones de tronco</p>
    <p>Estiramientos dinámicos</p>
  </div>

  <div class="exercise-category">
    <h2>Ejercicios de cardio</h2>
    <p>Correr en el lugar</p>
    <p>Saltar la cuerda</p>
    <p>Burpees</p>
  </div>

  <div class="exercise-category">
    <h2>Ejercicios de equilibrio</h2>
    <p>Equilibrio en una pierna</p>
    <p>Sentadilla a una pierna</p>
  </div>
</ion-content>
