<ion-content [fullscreen]="true">
<ion-header>
  <ion-toolbar>
    <ion-title>Calculadora de IMC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="calculateIMC()">
    <div class="form-group">
      <label for="height">Altura (cm)</label>
      <input id="height" type="number" [(ngModel)]="height" name="height" maxlength="3" required/>
    </div>

    <div class="form-group">
      <label for="weight">Peso (kg)</label>
      <input id="weight" type="number" [(ngModel)]="weight" name="weight" maxlength="3" required/>
    </div>

    <button type="submit" class="custom-button">Calcular IMC</button>
  </form>

  <div *ngIf="imc">
    <h2>Tu IMC es: {{ imc | number:'1.2-2' }}</h2>
  </div>
</ion-content>

</ion-content>
