<ion-header>
  <ion-toolbar>
    <ion-title>Ejercicios con Equipamiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="exercise-category">
    <h2>Levantamiento de pesas</h2>
    <p>Press de banca</p>
    <p>Peso muerto</p>
    <p>Sentadillas con barra</p>
    <p>Press militar</p>
  </div>

  <div class="exercise-category">
    <h2>Máquinas de gimnasio</h2>
    <p>Prensa de piernas</p>
    <p>Extensión de piernas</p>
    <p>Curl de piernas</p>
    <p>Máquina de remo</p>
  </div>

  <div class="exercise-category">
    <h2>Ejercicios con bandas de resistencia</h2>
    <p>Remo con banda</p>
    <p>Press de pecho con banda</p>
    <p>Sentadillas con banda</p>
  </div>

  <div class="exercise-category">
    <h2>Ejercicios con balones</h2>
    <p>Balón medicinal (lanzamientos, giros)</p>
    <p>Plancha con balón suizo</p>
  </div>

  <div class="exercise-category">
    <h2>Ejercicios de cardio con equipamiento</h2>
    <p>Correr en cinta</p>
    <p>Bicicleta estática</p>
    <p>Elíptica</p>
  </div>

  <div class="exercise-category">
    <h2>Ejercicios de Pilates</h2>
    <p>Reformer (ejercicios variados)</p>
  </div>
</ion-content>
